.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.projects-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2rem;
    width:90%
}
@media (max-width: 1024px) {
    .projects-grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 768px) {
    .projects-grid{
        grid-template-columns: repeat(1,1fr);
    }
}